body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Animación tarjetas */
.mascota-card {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.mascota-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
/* Navbar */
.navbar.navbar-custom {
  background-color: #1f3a3d;
}
